<!DOCTYPE html>

<head>
    <title>TWF-API</title>
</head>

<body>
    <p> Parcel Order</p>
    <form method="POST">
        <p>A: <input type="text" name="a"></p>
        <p>B: <input type="text" name="b"></p>
        <p>C: <input type="text" name="c"></p>
        <p>D: <input type="text" name="d"></p>
        <p>E: <input type="text" name="e"></p>
        <p>F: <input type="text" name="f"></p>
        <p>G: <input type="text" name="g"></p>
        <p>H: <input type="text" name="h"></p>
        <p>I: <input type="text" name="i"></p>
        <button type="submit">Submit </button>
    </form>
    <p> The total cost of delievering these thigns would be= <%=totalcost %></p>
</body>